# PostgreSQL configuration
POSTGRES_DB=your_db_name

# Kafka configuration
KAFKA_INPUT_TOPIC=your_input_topic
KAFKA_CLASSIFICATION_TOPIC=your_classification_topic
KAFKA_SUMMARIZATION_TOPIC=your_summarization_topic
KAFKA_INPUT_CONSUMER_GROUP_ID=your_input_group_id
KAFKA_SUMMARIZATION_CONSUMER_GROUP_ID=your_summarization_group_id
KAFKA_CLASSIFICATION_CONSUMER_GROUP_ID=your_classification_group_id

# API key
GOOGLE_API_KEY=your_gemini_api_key
LLM_MODEL_NAME=your_google_llm_model